<h1>Заказы</h1>

<ul>
  {{#each orders}}
    <li>
        <h2>Заказ №{{this._id}} от {{this.createdAt}}</h2>

        <ul>
        {{#each this.products}}
            <li>
                <a href="/products/{{this.product._id}}">{{this.product.name}}</a> {{this.quantity}} шт - {{multiply this.price this.quantity}}₽
            </li>
        {{/each}}
        </ul>
        </li>
        <h2>{{this.total}}₽</h2>
    </li>   
    
  {{/each}}
</ul>